/* src/styles/common.css */
@font-face {
    font-family: 'GeorgiaCustom';
    src: url('../fonts/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body 
  {
    font-family: 'GeorgiaCustom', sans-serif;
  }
  